@model AvaliacaoViewModel


<h4>Avaliacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

           <partial name="_Formulario" model="@Model" />

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
