@model App.ViewModels.SistemaViewModel
<!-- Modal -->
<div class="modal fade" id="ModalAdicionarSistema" tabindex="-1" role="dialog" aria-labelledby="Adicionar Sistema" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Adicionar novo sistema para avaliação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <partial name="_Formulario" model="@Model" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Adicionar" class="btn btn-primary" />

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>

