@model App.ViewModels.SistemaViewModel

@{
    ViewData["Title"] = "Editar " + Model.NomeSistema;
}

<h4>@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <partial name="_Formulario" model="@Model" />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Voltar</a>
            </div>
        </form>
    </div>
</div>
